.coursesGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 2rem;
  margin: 3rem 0;

  @include mediaquery(max-width, medium) {
    grid-template-columns: 1fr;
  }
}

.courseItem {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 2rem;
	background-color: white;
	padding: 2rem;
	padding-bottom: 3rem;
	border-radius: $b_radius_1;

	.course__img {
		width: 150px;

		img {
			max-width: 100%;
		}
	}

	.course__text {
    flex: 1;

		.course__title {
			font-size: clamp(16px, 5vw, 25px);
			font-weight: 900;
			margin-bottom: -0.3rem;
		}

		.course__description {
			margin-top: 1.2rem;
			font-size: 0.8rem;
			color: lighten($darkgrey, 10%);
		}
	}

  .progress {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: lighten($darkgrey, 10%);
    font-size: .9rem;
    @extend .center;
  }

	.playModules {
		position: absolute;
		bottom: 0.5rem;
		right: 0.5rem;
		display: flex;
		align-items: center;
		column-gap: 0.5rem;

		span {
			white-space: nowrap;
			color: lighten($darkgrey, 20%);
		}

		img {
			width: 20px;
			fill: $orange;
		}
	}

  @include mediaquery(max-width, extrasmall) {
    flex-direction: column;

    .course__img {
      width: 200px;
    }
  }
}
