.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .logo {
    cursor: pointer;
    user-select: none;
  }

  .nav_links {
    display: flex;
    column-gap: 1rem;
    position: relative;

    @include mediaquery(max-width, extrasmall) {
      position: fixed;
      background: $orange;
      top: 0;
      left: 0;
      right: 0;
      padding: 2rem;
      padding-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.5rem;
      clip-path: circle(0 at 100% 0);

      &.open {
        clip-path: circle(500px at 100% 0);
        z-index: 1000;
      }
    }

    .nav__mobileClose {
      display: none;
      color: white;

      @include mediaquery(max-width, extrasmall) {
        display: unset;
        position: absolute;
        right: 2rem;
        top: 2rem;
        font-size: 1.3rem;
      }
    }

    .nav_link {
      position: relative;
      color: $darkgrey;
      font-weight: bold;
      padding: .3rem 0;
      user-select: none;
  
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $orange;
        transition: .3s all;
      }
  
      &:hover, &:focus {
        &::before {
          width: 100%;
        }
      }

      &.loginBtn {
        display: inline-block;
        color: white;
        background: $orange;
        padding: .3rem .8rem;
        border-radius: $b_radius_1;

        &::before {
          content: unset;
        }
      }

      &.accountBtn {
        cursor: pointer;
        color: $orange;
        &::before {
          content: unset;
        }
      }

      @include mediaquery(max-width, extrasmall) {
        color: white;

        &.loginBtn {
          background: white;
          color: $darkgrey;
        }
      }
    }
  }

  .accountModal {
    @extend .align_v;
    row-gap: .5rem;
    position: absolute;
    top: 150%;
    right: 0;
    list-style: none;
    box-shadow: 0 1px 12px lightgrey;
    background-color: #fff;
    padding: .5rem;
    outline: none;
    
    @include triangle($placement: bottom, $color: white);
    &::after {
      position: absolute;
      bottom: 100%;
      left: 75%;
    }

    &__header {
      white-space: nowrap;
      user-select: none;
    }

    &__button {
      transition: all .3s;

      &:hover, &:focus {
        color: $orange;
      }
    }
  }


  .nav__mobileOpen {
    display: none;
    font-size: 2rem;
    color: $darkgrey;
    line-height: 1;
    @extend .center;

    @include mediaquery(max-width, extrasmall) {
      display: unset;
    }
  }
}