.searchPage {
  @extend .center;

  &.emptySearch {
    min-height: 60vh;
  }

  .search__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 7rem;
    margin-top: 3rem;

    .search__input {
      border: none;
      padding: 1.5rem .8rem;
      border-radius: $b_radius_1;
      font-size: 1.2rem;
      min-width: 500px;
      box-shadow: -1px 1px 20px $lightgrey;
      color: $darkgrey;

      &::placeholder {
        color: $lightgrey;
      }
    }

    .filter__container {
      display: flex;
      column-gap: .5rem;
    }
  }

  .searchSort__container {
    display: flex;
    justify-content: space-between;
    color: $darkgrey;

    .sorter {

      span {
        margin-right: 1.5rem;
      }

      select {
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1rem;
        color: $orange;

        option {
          color: $darkgrey;
          border: none;
        }
      }
    }
  }
}