.searchPage {
  @extend .center;

  &.emptySearch {
    min-height: 60vh;
  }

  .search__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 7rem;
    margin-top: 3rem;

    .search__input {
      border: none;
      padding: 1.5rem .8rem;
      border-radius: $b_radius_1;
      font-size: 1.2rem;
      min-width: 500px;
      box-shadow: -1px 1px 20px $lightgrey;
      color: $darkgrey;

      &::placeholder {
        color: $lightgrey;
      }
    }

    .filter__container {
      display: flex;
      column-gap: .5rem;
    }
  }

  .searchSort__container {
    display: flex;
    justify-content: space-between;
    color: $darkgrey;

    .sorter {

      span {
        margin-right: 1.5rem;
      }

      select {
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1rem;
        color: $orange;

        option {
          color: $darkgrey;
          border: none;
        }
      }
    }
  }

  .searchResults__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 2rem;
    margin: 3rem 0;

    .searchResult {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 2rem;
      background-color: white;
      padding: 2rem;
      padding-bottom: 3rem;
      border-radius: $b_radius_1;

      .result__img {
        width: 250px;

        img {
          max-width: 100%;
        }
      }

      .result__text {
        .title {
          font-size: clamp(16px, 5vw, 25px);
          font-weight: 900;
          margin-bottom: -.3rem;
        }

        .description {
          margin-top: 1.2rem;
          font-size: .8rem;
          color: lighten($darkgrey, 10%);
        }
      }

      .playModules {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        display: flex;
        align-items: center;
        column-gap: .5rem;

        span {
          white-space: nowrap;
          color: lighten($darkgrey, 20%);
        }

        img {
          width: 20px;
          fill: $orange;
        }
      }
    }
  }
}