.searchPage {
  @extend .center;
  width: 100%;

  &.emptySearch {
    min-height: 60vh;
  }

  .search__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 7rem;
    margin-top: 3rem;

    .search__input {
      border: none;
      padding: 1.5rem .8rem;
      border-radius: $b_radius_1;
      font-size: 1.2rem;
      min-width: 500px;
      box-shadow: -1px 1px 20px $lightgrey;
      color: $darkgrey;

      @include mediaquery(max-width, small) {
        min-width: unset;
        width: 100%;
      }

      &::placeholder {
        color: $lightgrey;
      }
    }

    .filter__container {
      display: flex;
      column-gap: .5rem;
    }


    .popup {
      position: absolute;
      background-color: #fff;
      padding: 1.2rem;
      border-radius: $b_radius_1;
      top: 200%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 2px 12px lightgrey;

      @include triangle($placement: bottom, $color: white) {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      &--category {
        .input {
          padding: 0.8rem .5rem;
          border: solid 1px $darkgrey;
          border-radius: $b_radius_1;
          width: 100%;
          min-width: 300px;
          font-size: inherit;
          color: $darkgrey;

          &::placeholder {
            color: $lightgrey;
          }
        }
        .inputBtn {
          position: absolute;
          right: .5rem;
          top: 50%;
          transform: translateY(-50%);
        }
        .categories {
          margin-top: 1rem;
          display: flex;
          gap: .5rem;

          .category {
            cursor: pointer;
            background-color: $orange;
            border-radius: $b_radius_1;
            padding: .3rem;
            color: white;
          }

          .NoCategories {
            margin-top: .5rem;
            font-size: .9rem;
            font-style: italic;
            color: lighten($darkgrey, 20%);
          }
        }
      }

      &--date {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        span {
          background-color: $orange;
          padding: .3rem;
          border-radius: $b_radius_1;
          color: white;
        }
      }

      &--reviews {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

        .row {
          @extend .align_h;
          column-gap: 2rem;

          .reviewInput {
            outline: none;
            appearance: none;
            height: 10px;
            border-radius: 10px;

            &::-webkit-slider-thumb {
              appearance: none;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              transform: scale(2);
              background: $orange;
            }
          }
          .reviewText {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .searchSort__container {
    display: flex;
    justify-content: space-between;
    color: $darkgrey;

    .sorter {

      span {
        margin-right: 1.5rem;
      }

      @include mediaquery(max-width, extrasmall) {
        text-align: right;
        
        span {
          margin-right: 0;
        }
      }

      select {
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1rem;
        color: $orange;

        option {
          color: $darkgrey;
          border: none;
        }
      }
    }
  }
}