.videoSection {
  @extend .align_v;
  padding: 5rem 2rem;
  margin-bottom: 10rem;
  background-color: $lightgrey;

  .title {
    text-align: center;
    margin-bottom: 3.5rem;
    font-size: 1.9rem;
    font-weight: 900;
    word-spacing: 5px;
    color: darken($darkgrey, 10%);
  }

  .videoPlayer__container {
    .videoPlayer {
      max-width: 100%;

      @include mediaquery(max-width, small) {
        width: unset !important;
      }
    }
  }
}