@function breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@function color($name) {
  @return map-get($colors, $name);
}

@mixin mediaquery($type, $bp-name) {
  @media (#{$type}: map-get($breakpoints, $bp-name)) {
    @content;
  }
}

@mixin triangle($placement: top, $size: 10px, $color: black) {
  &::after {
    content: "";
    width: 0;
    height: 0;
    border: solid $size transparent;
    border-#{$placement}-color: $color;
  }
}